/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    background-image: url(../images/404/404_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 5.625rem;
    padding-bottom: 3rem;
}

#error-nav {
    .nav-link {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;

        &:hover {
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
        }
    }
}