/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    position: relative;

    .error-content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;

        .go-home {
            padding: 1.5rem 3.5rem;

            i {
                font-size: 0.9rem;
                margin-left: 0.5rem;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .error-banner {
            height: 22rem;
        }
    }

    @include media-breakpoint-down(lg) {
        .error-content {
            top: 6rem;
        }
    }
}