
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.container-fluid {
	overflow: hidden;
}

.link-icon {
	background-image: url(../images/icons/link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5625rem;
	height: 2.5625rem;

	&.black {
		background-image: url(../images/icons/link_black.png);
	}
}

a {
	.link-icon {
		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		.link-icon {
			@include translateX(1rem);
		}
	}	
}

.about-us-link {
	a {
		padding: 0.5rem 4rem;
		background-color: $theme-color;
		color: white;
		text-decoration: none;
		font-size: .75rem;
		border-radius: 2rem;
		display: inline-block;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 1rem;
	}
}


.about-content {
	h3 {
		font-size: 2.25rem;
	}

	p {
		font-size: 0.75rem;
		color: #9c9c9f;
		line-height: 1.3rem;
	}
}

.carousel-indicator {
	margin-top: 4rem;

	li {
		list-style: none;
		padding: 0rem;

		i {
			font-size: 0.5rem;
			color: #d6d7d8;
		}
	}

	@include media-breakpoint-down(sm) {
		margin-top: 2rem;
	}
}

.shop-now-link {
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
	letter-spacing: 0.05rem;
    padding: 1.5rem 3rem;
	display: inline-block;
    background-color: #c5562b;
    border-radius: 1rem;
	text-decoration: none;

	i {
		font-size: 0.9rem;
		margin-left: 0.5rem;
	}
}


// page decorations//
.page-decoration {
	position: absolute;
	z-index: -1;

	&.meat-2 {
		right: 0;
		top: 0;
		width: 17rem;
	}

	&.plant {
		bottom: 0;
		left: 0;
		width: 13rem;
	}

	&.peppers {
		z-index: 1;
		bottom: -6.7rem;
		width: 9rem;
	}

	&.sause {
		top: -1.3rem;
		right: 0rem;
		width: 8rem;
		z-index: 1;
	}

	@include media-breakpoint-down(xl) {
		&.peppers {
			bottom: -3.7rem;
			width: 5rem;
		}

		&.plant {
			width: 6rem;
		}

		&.sause {
			width: 4rem;
		}
	}
}

// slider items//
.slick-prev::before, .slick-next:before {
	 font-size: 3rem;
	 opacity: 1;
	 color:#dcdcdc;

	 @include media-breakpoint-down(lg) {
		display: none;
	}
 }

 .slick-prev {
	 left:-10rem;

	 @media (max-width : 1600px) {
		 left: -2.5rem;
	 }
 }

 .slick-next {
    right: -7rem;

	@media (max-width : 1600px) {
		right: -0.5rem;
	}
}

 .slick-slide {
    margin: 0 1rem;
}

.slick-list {
	padding: 2rem 0;
}

.about-slick {
	.slick-slide {
		opacity: 0.3;
		transition: opacity 0.3s;

		&.slick-cloned {
		opacity: 0.3;
		transition: opacity 0.3s;
		}

		&.slick-current.slick-active {
			opacity: 1;
			transition: opacity 0.3s;
		}
	}

	.slick-prev {
		left:10rem;
	}

	.slick-next {
	right: 14rem;
	}
}