
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #banner {
			top: -$header-height;
			margin-bottom: -$header-height;
		}
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	margin-right: 1.5rem;

	img {
		max-width: 5.5rem;
		margin-top: -1rem;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;

		&:hover {
			border-top: 2px solid $primary;
			border-bottom: 2px solid $primary;
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	.nav-item {
		@include media-breakpoint-up(lg){
			margin-right: 1rem;
		}
	}

	.nav-link {
		color: #b0b0b0;		
		font-size: 0.875rem;	
		line-height: 1;
		background-color: #f5f5f5;
		padding: 0.7rem;
		border-radius: 50%;
		font-family: $body-font;

		&:hover {
			color: $theme-color;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: 3.375rem;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);

		@include box-shadow(0 0 5px -1px rgba($black, 0.2));
		
		@include media-breakpoint-up(lg) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $heading-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}


/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






