
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	padding: 1rem;

	.fbox-icon {
		img {
			height: 4.5rem;
		}
	}
	
	h4 {
		font-size: 1.25rem;
	}

	p {
		color: #4f4f4f;
		line-height: 1.2rem;
	}

	@include media-breakpoint-down(lg) {
		padding: 1rem;
	}
}